{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block body %}
    <h1 class="my-5 text-black-50 text-center">A propos de nous</h1>
    <div class="container" style="padding-top: 170px">
        <div class="row align-items-center">
            <div class="col-md-6">
                <!-- another image can be inserted here -->
                <img src="{{ asset
                    ('/img/about/26.jpg')|imagine_filter
                    ('fixe') }}" alt="..." class="img-fluid"/>
            </div>
            <div class="col-md-6">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>

            </div>
        </div>
    </div>
{% endblock %}
