{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}
    <div class="bg-light p-3">
        <h1 class="text-muted">Votre panier</h1>
        {{ app.user.lastName }}<br>
        {{ app.user.firstName }}<br>
        {{ app.user.email }}<br>
        {{ "now"|format_datetime(locale='fr') }}<br>
    </div>
    {% if items | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><img src="{{ asset
                            ('img/photographie/' ~ item.product.imageName) }}"
                             width="70px"
                             height="40px"/></td>
                    <td>{{ item.product.titre }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}</td>
                    <td>
                        <a href="{{ path('panier_add', {id:item.product.id}) }}"
                           class="btn
                                btn-success
                                btn-sm"><i
                                    class="icofont-cart"></i>
                            +</a>

                        <a href="{{ path('panier_min', {id:item.product.id}) }}"
                           class="btn
                                btn-warning
                                btn-sm"><i
                                    class="icofont-cart"></i>
                            -</a>


                        <a href="{{ path('panier_remove',{id:item.product.id}) }}"
                           class="btn
                        btn-danger
                        btn-sm">
                            <i class="icofont-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" , class="text-end">Total :</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <a href="{{ path('app_enregistre_commande') }}"
           class="btn
                        btn-success
                        btn-sm">
            Valider Votre commande
        </a>
    {% else %}
        <p>Votre panier est vide</p>
    {% endif %}

{% endblock %}
