{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Team{% endblock %}

{% block body %}
    <h1 class="my-5 text-black-50 text-center">Notre superbe equipe</h1>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="bg-light border mt-2 bg-white rounded shadow-sm
                py-5 px-4"><img src="{{ asset
                        ('img/avatar/011m.jpg')
                    }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Pablo Escobard</h5><span class="small
                text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" bg-light border mt-2 bg-white rounded shadow-sm
                py-5 px-4"><img
                            src="{{ asset
                        ('img/avatar/010f.jpg')
                    }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Esmeralda Jansens</h5><span class="small
                text-uppercase text-muted">Directrice Technique</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light border mt-2 bg-white rounded shadow-sm
                py-5 px-4"><img src="{{ asset
                        ('img/avatar/015m.jpg')
                    }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Patrick Marrius</h5><span class="small
                text-uppercase text-muted">Directeur Financier</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light border mt-2 bg-white rounded shadow-sm
                py-5 px-4"><img src="{{ asset
                        ('img/avatar/018f.jpg')
                    }}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Pamela Sanderson</h5><span class="small
                    text-uppercase text-muted">Directrice Communication</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
