{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    {% include 'partials/slider.html.twig' %}
    <div class="container" style="margin-bottom: 40px; min-height:200px">

        <div class="row align-items-center">

            <div class="col-12">
                <figure class="text-center">

                    <blockquote class="blockquote">
                        <p id="text" class=" md-6 pt-2 fs-3 text-muted"></p>
                    </blockquote>
                    <figcaption id="cite" class="blockquote-footer fs-4" >
                        Maître Yoda: <cite title="Source Title"> La guerre
                            des étoiles</cite>
                    </figcaption>
                </figure>

            </div>

        </div>
    </div>
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-header text-center">
                    Nos heures d'ouvertures
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Lundi: 10h00-18h30</li>
                    <li class="list-group-item">Mardi: 10h00-18h30</li>
                    <li class="list-group-item">Mercredi: Fermé</li>
                    <li class="list-group-item">Jeudi: 12:00-18h30</li>
                    <li class="list-group-item">Vendredi: 10h00-20:00</li>
                    <li class="list-group-item">Samedi: 10:00-18:30</li>
                    <li class="list-group-item">Dimanche: Fermé</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-header text-center">
                    ARTEFACT'S GALLERRY
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i
                                class="icofont-home  pe-2"
                                style="font-size: 30px"></i><adresse>
                            Mozilla
                            Foundation<br>
                            1981 Landings Drive<br>
                            Building K<br>
                            Mountain View, CA 94043-0801<br>
                            USA</adresse></li>
                    <li class="list-group-item"><i
                                class="icofont-telephone pe-2
"style="font-size: 30px"></i>555-5555-5555</li>
                    <li class="list-group-item"><i class="icofont-email pe-2
"style="font-size: 30px"></i><a href="mailto:info@artefact
.be"style="text-decoration: none">info@artefact
                            .be</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    Nos sitations préférées
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p>"Photographier c’est
                            mettre sur la même ligne de mire la tête, l’oeil
                            et le coeur."<em> - Henri
                                Cartier-Bresson</em></p></li>
                    <li class="list-group-item"><p>"La photographie est une
                            brève complicité entre la prévoyance et le hasard
                            . "<em> - John Stuart Mill</em></p></li>
                    <li class="list-group-item"><p>"Photographier, c’est une
                            attitude, une façon d’être, une manière de vivre
                            ."<em> - Henri Cartier-Bresson</em></p></li>
                    <li class="list-group-item"><p>"La photographie, c’est la
                            vérité et le cinéma, c’est vingt-quatre fois la
                            vérité par seconde."<em> - Jean-Luc
                                Godard</em></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>



    {% block javascripts %}
        <script>
            document.getElementById("cite").style.display = "none";

            var text = String.fromCodePoint (0x201C)+"Lorsque vous vous " +
                "servez d'un appareil photo, non " +
                "pas" +
                " comme d'une machine, mais comme le prolongement de votre " +
                "coeur, vous ne faites plus qu'un avec votre sujet"+String
                    .fromCodePoint (0x201D)
            var i = 0;

            function fadeIn(el, speed) {
                el.style.opacity = 0;
                var last = +new Date();
                var tick = function() {
                    el.style.opacity = +el.style.opacity + (new Date() - last) / speed;
                    last = +new Date();
                    if (+el.style.opacity < 1) {
                        (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16);
                    }
                };
                tick();
            }
            var element = document.getElementById("cite")
            function typeWriter() {
                if (i < text.length) {
                    document.getElementById("text").innerHTML += text.charAt(i);
                    i++;
                    setTimeout(typeWriter, 80);
                }

                if (i >= text.length){
                    document.getElementById("cite").style.display = "block";
                    fadeIn(element, 3000);
                }

            }
            typeWriter();
        </script>
    {% endblock %}
{% endblock %}
