{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gallerie{% endblock %}

{% block body %}
    <div class="container ">

        <div class="row ">
            <div class="col-md-12  controls-filter pt-5 text-center ">
                <ul>
                    <!-- For filtering controls add -->
                    <li data-filter="all" class="btn btn-outline-primary"> All
                        items
                    </li>
                    {% for categorie in categories %}
                        <li data-filter="{{ categorie.id }}" class="btn
                        btn-outline-primary">{{ categorie.name }} </li>
                    {% endfor %}
                </ul>

            </div>

        </div>


        <div class="  col-md-12   filter-container">
            {% for tableau in home %}

                <div class="col-md-3  filtr-item " data-category="{{ tableau
                .categorie.id }}"
                     data-sort="value">
                    <div class="my-3 mx-2  card " style="min-height: 380px">

                        <div class="card-header bg-light text-center">{{ tableau.titre
                            |capitalize }}</div>

                        <div class="card-body ">
                            <p class="card-title text-center"><a
                                        href="{{ path('onephotography',
                                            {slug:tableau.slug}) }}"><img
                                            class="img-fluid"

                                            src="{{ asset
                                                ('img/photographie/'~tableau
                                                .imageName)|imagine_filter
                                                ('card') }}"

                                            alt=""
                                    /></a></p>
                            {% set utilisateur = 0 %}
                            {% set count = 0 %}
                            {% for lik in like %}

                                {% set table = tableau.id %}
                                {% set l = lik.photographie.id %}
                                {% if table == l %}
                                    {% if app.user%}
                                        {% if lik.user.id == app.user.id %}
                                            {% set utilisateur = utilisateur
                                                + 1 %}
                                        {% endif %}
                                    {% endif %}
                                    {% set count = count +1 %}
                                {% endif %}
                            {% endfor %}
                            {% if app.user and  utilisateur  == 0 %}
                                <a style="text-decoration: none;color:  #3b5998" href="{{ path
                                    ('likephotography',
                                    {id:tableau.id}) }}"><i
                                            class="icofont-like"></i></a>
                            {% else %}
                                <i class="icofont-like"></i>
                            {% endif %}
                            {{ count }}
                            {% if tableau.price >0.0 and app.user %}
                                <a href="{{ path('panier_add', {id:tableau.id})
                                }}"
                                   class="btn
                                btn-success
                                btn-sm ms-5 me-5"><i
                                            class="icofont-cart"></i>
                                    ajouter</a>
                            {% endif %}
                            {% if app.user is null %}
                                <a href="{{ path('panier_add', {id:tableau.id})
                                }}"
                                   class="btn
                                btn-success disabled
                                btn-sm ms-5 me-5"><i
                                            class="icofont-cart"></i>
                                    ajouter</a>
                            {% endif %}
                            prix : {{ tableau.price }} €
                        </div>
                        <div class="card-footer bg-light"
                             class="card-text text-center "> {{ tableau
                            .categorie
                            .name }}, {{ tableau.technique.name }}
                            <br> {{ tableau
                            .createdAt|date
                                ('Y') }}<br>
                            {{ tableau.hauteur ~ ' cm X ' }}
                            {{ tableau.largeur ~ ' cm' }}


                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>


    </div>
    </div>



    <div class="container">
        <div class="align-items-center">
            {{ knp_pagination_render(home) }}
        </div>
    </div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}
