{% extends 'base.html.twig' %}
{% block title %}onephoto{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container course">
        <div class="mt-md-5">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('alerte') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <section id="detail">
            <h2 class="my-5 text-muted">{{ photographie.titre }}</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab"
                       href="#comments">Commentaires</a>
                </li>

            </ul>
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">

                        <div class="col-md-5">
                            <img class="img-fluid" src ="{{ asset
                                ('img/photographie/' ~ photographie
                                .imageName)|imagine_filter('fixe')
                            }}" alt="{{ photographie.titre }}"/>

                        </div>
                        <div class="col-md-7">
                            <h4 class="text-muted">Description</h4>
                            <p>{{ photographie.description|capitalize
                                }}</p>
                            <p></p>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="comments">

                    {% for comment in photographie.comments | sort((b, a) => a
                    .createdAT <=> b.createdAt) %}

                        <h5 class="mt-3">{{ comment.titre }}</h5>
                        <h6>{{ comment.user.firstName }}  {{ comment.user.lastName
                            }}</h6>
                        <h6 class="text-muted">{{ comment.createdAt|date('d/m/Y')
                            }} &nbsp; {% for i in 1..5 %}
                                {% if i <= comment.rating %}
                                    &nbsp;<i class="icofont-star"
                                             style="color: orangered"></i>
                                {% else %}<i class="icofont-star"
                                             style="color: gray"></i>{% endif %} {%
                                endfor %}</h6>
                        <p>{{ comment.comment }}</p>
                        <hr>
                    {% endfor %}
                    {% set date = "" %}
                    {% set counter =0 %}
                    {% if is_granted('ROLE_USER') %}
                        {% for comment in photographie.comments  %}
                            {% if app.user.id == comment.user.id %}
                                {% set counter = ( counter | default(0) ) + 1 %}
                                {% set date = comment.createdAt|date('d/m/Y') %}
                            {% endif %}
                        {% endfor %}
                        {% if counter ==0%}
                            <div class=" container-fluid mt-4 p-3 w-80"
                                 style="background-color:  #f0f2f5">
                                {{ form(form) }}
                            </div>
                        {% elseif counter >=1%}
                            <h4 class="text-muted my-4">  {{ 'vous avez deja un
                       commentaire' }} {{ date }}</h4>
                        {% endif%}
                    {% else %}
                        <h4 class="text-muted">Vous devez être connecté pour
                            poster un
                            commentaire</h4>
                        <p>&nbsp;</p>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Login</a> <a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'enregistrer</a>
                    {% endif %}

                </div>


            </div>
        </section>
    </main>
{% endblock %}

