{# Navbar #}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">ARTEFACT'S GALLERY</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gallerie') }}">Notre
                            Gallerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('team')}}">Team</a>
                    </li>
                    <li class="nav-item dropdown">

                    </li>

                </ul>
                <div class="d-flex">
                    {% if not app.user %}
                        <a href="{{ path('app_login') }}"
                           style="background-color: #1f5b83; color: white;
                           text-decoration: none"
                        ><i
                                    class="icofont-sign-in"></i> S'identifier</a>
                        <a href="{{ path('app_register') }}" style="background-color: #1f5b83; color: white;
                           text-decoration: none"><i class="icofont-user-alt-4"></i>S'enregistrer</a>
                    {% else %}
                        <div class="dropdown" style="padding-right: 25px;">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{asset('img/avatar/') ~ app.user.imageName }}" style="width: 30px;border-radius: 50px">&nbsp;
                                &nbsp;{{ app.user.firstName }} {{ app.user.lastName }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path
                                        ('profile')
                                    }}">Voir
                                        profil</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ path('app_edit_profile') }}">Modifier
                                        profil</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ path('app_panier')
                                       }}">Votre panier</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ path('change_password') }}">Modifier
                                        password</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a class="dropdown-item"
                                           href="{{ path
                                               ('app_admin_allcommande')
                                           }}">Gestion des commandes</a></li>{%
                                    endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a class="dropdown-item"
                                           href="{{ path
                                               ('app_admin_photographie')
                                           }}">Administration</a></li>{%
                                    endif %}
                                <li><hr class="dropdown-divider"></li>

                                <li><a href="{{path('app_logout')}}" class="dropdown-item">Se déconnecter</a></li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
    
{% endblock %}