{# Slider #}
    {% block slider %}

        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('img/slider/defaut.jpg')|imagine_filter
                        ('slider') }}"
                         class="d-block w-100" alt="...">
                </div>
              {{ render(controller('App\\Controller\\Admin\\AdminSliderController::index')) }}
            </div>
        </div>
    {% endblock %}