/* CSS */

body {
  margin: 0;
  min-height: 100vh;
  font-size: 90%;
  color: #141414;
}
nav{
  background-color: #1f5b83;
}


nav .d-flex a {

  margin-right: 10px;
}
nav .d-flex a i{

  margin-right: 5px;
}

.navbar-brand {

  padding-right: 28px;
}

ul.pagination {
  background-color: white;
  margin-top: 10px;
}

.banner {
  height: 300px;
  background: url("../img/banner/ban01.png") no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.home-news a {
  color: #325D88;
  text-decoration: none;
}

#courses {
  min-height: 700px;
}

/* Detail */
.course {
  min-height: 600px;
}

/* Footer */
footer {
background-color: #1f5b83;
  margin-top: 60px;
  padding: 20px 0;
  border-top: 1px solid #dfdfdf;
  text-align: center;
  color: #fff;
}

footer h4 {
  padding-bottom: 1.3rem;

}

footer a {

  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #fedfdf;
}

/* Filterizer */
.filtr-item img {
  width: 100%;
  height: auto;
  /*filter: grayscale(100%);*/
}

.vich-image img {
  width: 10%;

  border-radius: 100px;
  padding-top: 10px;
}

.controls-filter {
  margin-bottom: 26px;
  color: red;
}

.social-link {
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}