{# NavBar #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}"
                       target="_blank">Website
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout')
                    }}">Logout</a>
                </li>


            </ul>
            <div class="d-flex">
                <span class="text-light">
                      <img src="{{asset('img/avatar/') ~ app.user.imageName }}" style="width: 30px;border-radius: 50px">&nbsp;
               {{ app.user.firstName }} {{ app.user.lastName }}
                </span>

            </div>
        </div>
    </div>
</nav>
{% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
{% endfor %}

