<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h4 class="my-5 text-muted">Options</h4>
            <div class="accordion" id="accordionExample">

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Les photographies
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_photographie') }}" >Gestion
                                des
                                photographies</a><br>
                            <a href="{{ path('newphotographie') }}">Ajouter
                                une photographie</a><br>
                            <a href="{{ path('categorie') }}">Ajouter une
                                categorie</a><br>
                            <a href="{{ path('technique') }}">Ajouter une
                                technique</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and not is_granted
                    ('ROLE_SUPER_ADMIN') %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Gestion des commandes
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <a href="{{ path('app_admin_allcommande') }}" >Commande en cours</a><br>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Gestion des images slider
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">

                            <a href="{{ path('app_admin_slider_new') }}">Ajouter une image slider</a><br>
                            <a href="{{ path('app_admin_slider_view') }}">Gerer les images slider</a>
                        </div>
                    </div>
                </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed"
                                    type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour">
                                Les Utilisateurs
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse
                        collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <a href="{{ path('app_admin_users') }}" >Gestion des
                                    utilisateurs</a><br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9">