{% extends 'admin/base.html.twig' %}

{% block title %}Photographie - Ajout d'image slider {% endblock %}

{% block body %}

    <section class="row">
        <h2 class="my-5 text-muted">Ajout image slider</h2>
        <div class="col-md-9 offset-1">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-secondary">Ajouter
                l'image
            </button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}