{% for s in slider %}
    <div class="carousel-item">
        <img src="{{ asset('img/slider/' ~s.imageName)|imagine_filter
            ('slider') }}"
             class="d-block
                    w-100" alt="...">
    </div>
{% endfor %}