{% extends 'admin/base.html.twig' %}
{% block title %}Photographie - Gestion des slider{% endblock %}
{% block body %}
    <h4 class="my-5 text-muted">Gestion des slider</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th class="text-center ">Image</th>
            <th class="text-center ">Nom</th>
            <th class="text-center">Action</th>

        </tr>
        </thead>
        {% for slide in slider %}

            <tr>
                <td class="text-center align-middle"><img src="{{ asset
                        ('img/slider/' ~ slide.imageName) }}"
                                                          width="70px"
                                                          height="40px"/>
                </td>
                <td class=" align-middle text-center">{{ slide.imageName
                    |capitalize }}</td>




                <td class="align-middle text-center">
                    <a href="{{ path('app_admin_slider_delete', {id:slide.id})
                    }}"
                          style="text-decoration: none"
                          class="text-danger" onclick="return confirm
                                  ('Etes vous certain de vouloir effacer cela')
"><i
                                    class="icofont-bin"
                            ></i></a>
                    <a href="{{ path('app_admin_slider_masque', {id:slide.id})
                    }}"
                       style="text-decoration: none">{% if
                            slide.Isdisabled == 1%}<i
                                class="icofont-eye-blocked" style="color: #8b2e24"></i>
                    {% else %}<i class="icofont-eye"></i>{% endif %} </a>
                </td>

            </tr>




        {% endfor %}

    </table>

{% endblock %}