{% extends 'admin/base.html.twig' %}

{% block title %}Gestions des utilisateurs {{ parent() }}{% endblock %}

{% block body %}
    {% set newArray = ['ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_USER'] %}




    <h4 class="my-5 text-muted">Gestion des utilisateurs</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for user in users %}

            <tr>
                <td><img class="img-fluid align-items-center" src="{{ asset
                        ('img/avatar/') ~
                    user
                    .imageName
                    }}"
                         alt=""
                         style="width: 40px"   ></td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.roles[0]}}</td>

                <td>
                    <form method="GET" action="{{ path('app_admin_role_user',
                        {'id':user.id}) }}"> <select
                                name="role">
                            {% for role in newArray %}
                                <option value="{{ role }}">{{ role }}</option>
                            {% endfor %}
                        </select>
                        <input  class="btn btn-success" type="submit"
                                value="changer le role"
                                {% if user.roles[0]
                                    == 'ROLE_SUPER_ADMIN' %}disabled
                                {% endif %}/>
                    </form>
                </td>

            </tr>

        {% endfor %}
    </table>

{% endblock %}

