{% extends 'admin/base.html.twig' %}

{% block body %}

    <section class="row">
        <h2 class="my-5 text-muted">Modification d'une photographie</h2>
        <div class="col-md-9 offset-1">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-secondary">Modifier  la
                photographie
            </button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}