{% extends 'admin/base.html.twig' %}

{% block body %}

    <main class="container">
        <h2 class="my-5 text-muted">Ajout d'une technique</h2>
        <div class="row">
            <div class="col-md-8 offset-1">
                {{ form(form) }}
            </div>
        </div>
    </main>
{% endblock %}