{% extends 'admin/base.html.twig' %}

{% block title %}Photographies {{ parent() }}{% endblock %}

{% block body %}

    <h4 class="my-5 text-muted">Gestion des photographies</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th class="text-center ">Titre</th>
            <th class="text-center ">Creation</th>
            <th class="text-center">Categorie</th>
            <th class="text-center">Technique</th>
            <th class="text-center ">Image</th>
            <th class="text-center ">Hauteur</th>
            <th class="text-center ">Largeur</th>
            <th class="text-center ">Delete</th>
            <th class="text-center">Edit</th>
        </tr>
        </thead>
        {% for photographie in admin %}

            <tr>

                <td class=" align-middle text-center">{{ photographie.titre
                    |capitalize }}</td>
                <td class=" align-middle text-center">{{ photographie
                    .createdAt|date
                        ('Y') }}</td>
                <td class="align-middle text-center"
                > {{ photographie.Categorie.name }}</td>
                <td class="align-middle text-center"
                > {{ photographie.Technique.name }}</td>
                <td class="text-center align-middle"><img src="{{ asset
                        ('img/photographie/' ~ photographie.imageName) }}"
                                                          width="70px"
                                                          height="40px"/>
                </td>
                <td class="align-middle text-center"
                > {{ photographie.hauteur }}</td>
                <td class="align-middle text-center"
                > {{ photographie.largeur }}</td>
                <td class="align-middle text-center">
                    <p><a href="{{ path('delete', {id:photographie.id}) }}"
                          style="text-decoration: none"
                          class="text-danger" onclick="return confirm
                                  ('Etes vous certain de vouloir effacer cela')
"><i
                                    class="icofont-bin"
                            ></i></a></p>
                </td>
                <td class="align-middle text-center">
                    <p><a href="{{ path('edit', {id:photographie.id}) }}"
                          style="text-decoration: none"><i
                                    class="icofont-ui-edit"
                                    style="color:limegreen"
                            ></i></a></p>
                </td>
            </tr>




        {% endfor %}

    </table>

{% endblock %}
