{% extends 'admin/base.html.twig' %}

{% block title %}Photographie - Admin - Commande{% endblock %}

{% block body %}

    <h4 class="my-5 text-muted">Gestion des commande</h4>
    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <th class="text-center ">Date</th>
            <th class="text-center ">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Email</th>
            <th class="text-center">Fichier</th>
        </tr>
        </thead>
        {% for comm in commande %}

            <tr>

                <td class=" align-middle text-center">{{ comm.createdAt|date
                        ('d/m/Y')
                     }}</td>
                <td class=" align-middle text-center">{{ comm.user
                    .lastName}}</td>
                <td class="align-middle text-center"
                > {{ comm.user.firstName }}</td>
                <td class="align-middle text-center"
                > {{ comm.user.email }}</td>
                <td class="align-middle text-center"
                ><a href="{{ asset('upload/commande/'~comm.fileName)
                    }}" download>{{
                        comm.fileName
                        }}</a></td>


            </tr>




        {% endfor %}

    </table>

{% endblock %}
