


{% block body %}
    <div class="bg-light p-3">
        <h1>Commande</h1>
       Nom:  {{ app.user.lastName }}<br>
       Prénom:  {{ app.user.firstName }}<br>
       Email:  {{ app.user.email }}<br>
        Date de la commande: {{ "now"|format_datetime(locale='fr') }}<br>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.id }}</td>
                <td>{{ item.product.titre }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price * item.quantity }}</td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" , class="text-end">Total :</td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
