{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    <div class="container">
        <section class="row">
            <div class="col-md-8 offset-md-2 text-muted">
                <h2 class="display-4 my-4">Modifier son mot de passe</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-dark">Modifier
                    son mot de passe</button>
                {{ form_end(form) }}
            </div>
        </section>
    </div>


{% endblock %}