{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    <div class="container">
        <section class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="display-4 my-4 text-muted">Modifier son profile</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-dark">Modifier son profile</button>
                {{ form_end(form) }}
            </div>
        </section>
    </div>


{% endblock %}