{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
    <main class="container">

        <section id="rofile">
            <h2 class="my-5 text-muted">Votre Profile</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab"
                       href="#like">Vos Likes</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-4 mb-4 mt-6 text-center"><img
                                    src="{{ asset
                                        ('img/avatar/') ~ app
                                    .user
                                    .imageName }}" class="img-fluid"
                                    style="border-radius:
                50%">&nbsp;
                        </div>
                        <div class="col-md-8">
                            <div class="my-3">
                                <a href="{{ path('app_edit_profile') }}"
                                   class="btn btn-outline-secondary">Modifier
                                    son
                                    profil</a>
                            </div>
                            <h2 class="text-muted">{{ app.user.firstName }}  {{ app.user
                                .lastName }}</h2>
                            <h6> Votre Email: {{ app.user.email }}</h6>
                            <h6> La date de création: {{ app.user.createdAt|date
                                    ('d/m/Y') }}</h6>
                            <h6> La date de
                                changement: {{ app.user.updatedAt|date
                                    ('d/m/Y/ H:i') }}</h6>

                            <h6> Votre rôle: {% for user in app.user.roles %}

                                    {% if app.user.roles|length > 1 %}
                                        {{ user|replace({'ROLE_USER': ''}) }}
                                    {% endif %}
                                    {% if app.user.roles|length <= 1 %}
                                        {{ user }}
                                    {% endif %}


                                {% endfor %}</h6>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="like">
                    {% if like|length ==0 %}
                        <h1 class="my-5 text-muted">Vous n'avez rien aimé pour l'instant</h1>
                    {% endif%}

                    {% if like|length  > 0 %}
                    <table class="table-responsive-md align-content-center">
                        <th>Vous avez aimé</th>

                        {% for l in like %}

                            <tr style="margin: 20px">
                                <td><img style="width:
                            100px"
                                         class="img-fluid"
                                         src="{{ asset
                                             ('img/photographie/' ~ l.photographie
                                             .imageName)|imagine_filter('fixe') }}"
                                         alt="{{ l.photographie.titre }}"/></td>
                                <td style="text-align: left;padding-left: 10px;
                                    padding-right: 10px">
                                    {{ l
                                    .photographie.titre }}</td>
                                <td><a style="text-decoration:
                                    none; color: #3b5998"
                                       href="{{ path('dellike',
                                           {'id':l.id}) }}"
                                       onclick="return confirm
                                  ('Etes vous certain de vouloir effacer ' +
                                   'cela')"><i
                                                class="icofont-thumbs-down"></i></a>
                                </td>
                            </tr>


                        {% endfor %}
                    </table>
{% endif %}

                </div>
            </div>
        </section>
    </main>
{% endblock %}